-- MySQL dump 10.13  Distrib 8.0.39, for Win64 (x86_64)
--
-- Host: localhost    Database: pg_management
-- ------------------------------------------------------
-- Server version	8.0.39

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `application`
--

DROP TABLE IF EXISTS `application`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `application` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `tenant_id` bigint DEFAULT NULL,
  `pg_id` bigint DEFAULT NULL,
  `status` enum('PENDING','APPROVED','REJECTED') DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `tenant_id` (`tenant_id`),
  KEY `pg_id` (`pg_id`),
  CONSTRAINT `application_ibfk_1` FOREIGN KEY (`tenant_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `application_ibfk_2` FOREIGN KEY (`pg_id`) REFERENCES `pg` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `application`
--

LOCK TABLES `application` WRITE;
/*!40000 ALTER TABLE `application` DISABLE KEYS */;
INSERT INTO `application` VALUES (1,7,8,'APPROVED','2026-04-05 16:14:38'),(2,7,11,'APPROVED','2026-04-05 16:15:19'),(3,8,9,'PENDING','2026-04-05 16:15:55'),(4,8,11,'APPROVED','2026-04-05 16:16:03'),(5,11,8,'PENDING','2026-04-05 20:33:44'),(6,11,13,'PENDING','2026-04-05 20:33:47'),(7,11,11,'REJECTED','2026-04-05 20:33:48'),(8,11,9,'PENDING','2026-04-06 03:43:04'),(9,11,8,'PENDING','2026-04-06 17:06:35');
/*!40000 ALTER TABLE `application` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facility`
--

DROP TABLE IF EXISTS `facility`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `facility` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facility`
--

LOCK TABLES `facility` WRITE;
/*!40000 ALTER TABLE `facility` DISABLE KEYS */;
INSERT INTO `facility` VALUES (1,'WiFi'),(2,'Food'),(3,'Parking');
/*!40000 ALTER TABLE `facility` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pg`
--

DROP TABLE IF EXISTS `pg`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pg` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `owner_id` bigint DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `location` varchar(255) DEFAULT NULL,
  `rent` int DEFAULT NULL,
  `bhk_type` varchar(255) DEFAULT NULL,
  `description` text,
  `total_rooms` int DEFAULT NULL,
  `available_rooms` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `owner_id` (`owner_id`),
  CONSTRAINT `pg_ibfk_1` FOREIGN KEY (`owner_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pg`
--

LOCK TABLES `pg` WRITE;
/*!40000 ALTER TABLE `pg` DISABLE KEYS */;
INSERT INTO `pg` VALUES (8,9,'Surya PG','Mumbai',6000,'2BHK','Big PG near college',10,7),(9,9,'SunLight PG','Mumbai',9000,'3BHK','Excellent PG near college',7,5),(10,10,'Moon PG','Mumbai',10000,'3BHK','Good PG near college',9,3),(11,10,'ChandraLeela PG','Mumbai',20000,'5BHK','Big PG near college',15,6),(13,10,'VastuNagar','Mumbai',25000,'6BHK','good facilities',6,2);
/*!40000 ALTER TABLE `pg` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pg_facility`
--

DROP TABLE IF EXISTS `pg_facility`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pg_facility` (
  `pg_id` bigint NOT NULL,
  `facility_id` bigint NOT NULL,
  PRIMARY KEY (`pg_id`,`facility_id`),
  KEY `facility_id` (`facility_id`),
  CONSTRAINT `pg_facility_ibfk_1` FOREIGN KEY (`pg_id`) REFERENCES `pg` (`id`) ON DELETE CASCADE,
  CONSTRAINT `pg_facility_ibfk_2` FOREIGN KEY (`facility_id`) REFERENCES `facility` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pg_facility`
--

LOCK TABLES `pg_facility` WRITE;
/*!40000 ALTER TABLE `pg_facility` DISABLE KEYS */;
/*!40000 ALTER TABLE `pg_facility` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tenant_profile`
--

DROP TABLE IF EXISTS `tenant_profile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tenant_profile` (
  `user_id` bigint NOT NULL,
  `college` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  CONSTRAINT `tenant_profile_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tenant_profile`
--

LOCK TABLES `tenant_profile` WRITE;
/*!40000 ALTER TABLE `tenant_profile` DISABLE KEYS */;
INSERT INTO `tenant_profile` VALUES (7,'SPIT'),(8,'SPIT'),(11,'SPIT');
/*!40000 ALTER TABLE `tenant_profile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `role` enum('TENANT','OWNER') DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (7,'Amruta','amruta@test.com','$2a$10$rd0.V8Y5S0.pysm9FxYp.eLfWrbHDNYnN0jdaLgv5y2Hy3wAUQsQe','TENANT'),(8,'Nethra','nethra@test.com','$2a$10$D35CKJI6BXa4U3l5NmSrwOK4FPS4DOtIreyYhzciW8lunr7pwOi4m','TENANT'),(9,'Sapana','sapana@test.com','$2a$10$So2Ci5NmYNFJmHqB3gpTxelwhqMVS/4w1YpNsnxVcsg5SOcc8flGG','OWNER'),(10,'Sandeep','sandeep@test.com','$2a$10$coeRFyMJjJkVh2ESrJKpBuFHoKNmE1DLcuVw00k.EwukyFsIeWFs.','OWNER'),(11,'Shambhavi','shambhavi@test.com','$2a$10$MsYOX.DCaJfuSIY2m9GS6uvEpLOFfUaMGxiuwGZc1pf5snHSdUnu2','TENANT');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-07 20:08:28
